<!-- inbox chat - all msg with new msg - FOR PRESENTATION. DELETE LATER
  noa: list extracted from container -->

<div class="inbox_chat">
        <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarNoa.png" alt="noa"> </div>
            <div class="chat_ib">
              <h5>Noa Levitzky <span class="chat_date">May 5</span></h5>
                <p><b>Ex 3, Q 1, subQ a:</b>THIS IS A NEW QUESTION </p>
            </div>
        </div>
    </div>
    <div class="chat_list active_chat">
        <div class="chat_people" onclick="openQueryDiscussion()" >
            <div class="chat_img"> <img src="assets/avatars/avatarMaayan.png" alt="maayan"> </div>
            <div class="chat_ib" ><h5>Maayan Sharon <span class="chat_date">May 5</span></h5>
                <p><b>Ex 2, Q  2, subQ b:</b> Should I use the definition of the probability distribution of a random variable?</p>
            </div>
        </div>
    </div>
    <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarNoa.png" alt="noa"> </div>
            <div class="chat_ib">
              <h5>Noa Levitzky <span class="chat_date">May 5</span></h5>
                <p><b>Ex 3, Q 1, subQ a:</b>Can someone please give me a hint? </p>
            </div>
        </div>
    </div>
    <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarEldad.png" alt="eldad"> </div>
            <div class="chat_ib">
              <h5>Eldad Wang <span class="chat_date">May 5</span></h5>
                <p><b>Ex 2, Q 2:</b> i uploaded my answer, can someone take a look, see if it's correct? </p>
            </div>
        </div>
    </div>
    <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarChen.png" alt="chen"> </div>
            <div class="chat_ib">
              <h5>Chen Rasooly <span class="chat_date">May 5</span></h5>
                <p><b>Ex 1, Q 7, subQ a:</b>what's the image of X?  </p>
            </div>
        </div>
    </div>
    <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarFrida.png" alt="frida"> </div>
            <div class="chat_ib">
                <h5>Frida Kahlo <span class="chat_date">May 5</span></h5>
                <p><b>Ex 2, Q 5, subQ c:</b>any help?</p>
            </div>
        </div>
    </div>
    <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarSimon.png" alt="simon"> </div>
            <div class="chat_ib">
                <h5>Simon Malaku <span class="chat_date">May 5</span></h5>
                <p><b>Ex 5, Q 4, subQ c:</b>Someone wants to compare answers?</p>
            </div>
        </div>
    </div>
    <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarIsraa.png" alt="sunil"> </div>
            <div class="chat_ib">
                <h5>Israa <span class="chat_date">May 5</span></h5>
                <p><b>Ex 3, Q 4, subQ c:</b>any help?</p>
            </div>
        </div>
    </div>
        <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarFrida.png" alt="frida"> </div>
            <div class="chat_ib">
                <h5>Frida Kahlo <span class="chat_date">May 5</span></h5>
                <p><b>Ex 2, Q 4, subQ c:</b>any help?</p>
            </div>
        </div>
    </div>
</div>