<!-- inbox chat - ex 2 only - FOR PRESENTATION. DELETE LATER
  noa: list extracted from container -->

<div class="inbox_chat" id="inbox_chat2">
    <div class="chat_list">
        <div class="chat_people" onclick="openQueryDiscussion()" >
            <div class="chat_img"> <img src="assets/avatars/avatarMaayan.png" alt="maayan"> </div>
            <div class="chat_ib" ><h5>Maayan Sharon <span class="chat_date">May 5</span></h5>
                <p><b>Ex 2, Q 2, subQ b:</b> TRY Should I use the definition of the probability distribution of a random variable?</p>
            </div>
        </div>
    </div>
    
    <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarEldad.png" alt="eldad"> </div>
            <div class="chat_ib">
              <h5>Eldad Wang <span class="chat_date">May 5</span></h5>
                <p><b>Ex 2, Q 2:</b> i uploaded my answer, can someone take a look, see if it's correct? </p>
            </div>
        </div>
    </div>

    <div class="chat_list">
        <div class="chat_people">
            <div class="chat_img"> <img src="assets/avatars/avatarFrida.png" alt="frida"> </div>
            <div class="chat_ib">
                <h5>Frida Kahlo <span class="chat_date">May 5</span></h5>
                <p><b>Ex 2, Q 5, subQ c:</b>any help?</p>
            </div>
        </div>
    </div>        
</div>